@keyframes driveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

.car.driving {
  animation: driveAnimation linear 3s;
}

.car {
  width: 100%;
}
.race-line {
  background-color: rgb(98, 105, 105);
  width: 100%;
  display: flex;
  justify-content: baseline;
  position: relative;
  border: 1px red solid;
}
.car-model {
  width: 5rem;
  height: 3rem;
}
.car-name {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
}
